@model Pattern_of_life.Models.Entity.ShipActivity

<div>
    <p><strong>Name:</strong> @Model.Name</p>
    <p><strong>DTG:</strong> @Model.DTG.ToShortDateString()</p>
    <p><strong>Longitude:</strong> @Model.Longitude</p>
    <p><strong>Latitude:</strong> @Model.Latitude</p>
    <p><strong>LongitudeDMS:</strong> @Model.LongitudeDMS</p>
    <p><strong>LatitudeDMS:</strong> @Model.LatitudeDMS</p>
    <p><strong>Course:</strong> @Model.Course</p>
    <p><strong>Speed:</strong> @Model.Speed</p>
    <p><strong>IMO:</strong> @Model.IMO</p>
    <p><strong>POB:</strong> @Model.POB</p>
    <p><strong>Remarks:</strong> @Model.Remarks</p>

   
</div>
