@model Pattern_of_life.Models.ShipActivityViewModel

    <div class="card mt-2">
        <div class="card-header text-white">
            <h5 class="mb-0">Create New Activity</h5>
        </div>
        <div class="card-body">
            <form asp-action="Create" id="createForm" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-6">

                        <div class="form-group">
                            <label asp-for="DTG">Date and Time</label>
                            <input asp-for="DTG" class="form-control" />
                            <span asp-validation-for="DTG" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Latitude">Latitude</label>
                            <input asp-for="Latitude" class="form-control" onchange="updateLatitudeDMS(this)" />
                            <span asp-validation-for="Latitude" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="LatitudeDMS">LatitudeDMS</label>
                            <input asp-for="LatitudeDMS" class="form-control" onchange="updateLatitude(this)" placeholder="ex: 40° 26' 46&quot; N" />
                            <span asp-validation-for="LatitudeDMS" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Speed">Speed</label>
                            <input asp-for="Speed" class="form-control" placeholder="Speed in knots" />
                            <span asp-validation-for="Speed" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Course">Course</label>
                            <input asp-for="Course" class="form-control" placeholder="Course in degrees True or 'UNK' if unknown" />
                            <span asp-validation-for="Course" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="IMO">IMO</label>
                            <input asp-for="IMO" class="form-control" />
                            <span asp-validation-for="IMO" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="POB">Number of people on board (POB)</label>
                            <input asp-for="POB" class="form-control" placeholder="Number or 'UNK' if unknown" />
                            <span asp-validation-for="POB" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="SideNumber">Side Number</label>
                            <input asp-for="SideNumber" class="form-control" placeholder="Ship Side Number (If available) " />
                            <span asp-validation-for="SideNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">

                        <div class="form-group">
                            <label asp-for="Name">Name</label>
                            <input asp-for="Name" class="form-control" placeholder="Name of the vessel...(If available)" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Longitude">Longitude</label>
                            <input asp-for="Longitude" class="form-control" onchange="updateLongitudeDMS(this)" />
                            <span asp-validation-for="Longitude" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="LongitudeDMS">LongitudeDMS</label>
                            <input asp-for="LongitudeDMS" class="form-control" onchange="updateLongitude(this)" placeholder="ex: 79° 58' 56&quot; W" />
                            <span asp-validation-for="LongitudeDMS" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Remarks">Remarks</label>
                            <textarea asp-for="Remarks" class="form-control" placeholder="Additional information..." /></textarea>
                            <span asp-validation-for="Remarks" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="VesselTypeID">Vessel Type</label>
                            <select asp-for="VesselTypeID" class="form-control" asp-items="@(new SelectList(Model.VesselTypes, "ID", "Name"))" required>
                                <option value="">-- Select a Vessel Type --</option>
                            </select>
                            <span asp-validation-for="VesselTypeID" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-8">
                                    <label asp-for="FlagStateID">Flag State</label>
                                    <select asp-for="FlagStateID" class="form-control" required>
                                        <option value="">-- Select a Flag State --</option>
                                        @foreach (var flagState in Model.FlagStates)
                                        {
                                            <option value="@flagState.ID">@flagState.Name</option>
                                        }
                                    </select>
                                    <span asp-validation-for="FlagStateID" class="text-danger"></span>
                                </div>
                                <div class="col-md-3">

                                    <label asp-for="FlagStateID">
                                        <i class="la la-flag-fill"></i>
                                    </label>
                                    <div>
                                    <img id="flagImage" src="" class="form-control"  />
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <label asp-for="ActivityNameID">Activity Name</label>
                            <select asp-for="ActivityNameID" class="form-control" asp-items="@(new SelectList(Model.ActivityNames, "ID", "Name"))" required>
                                <option value="">-- Select an Activity Name --</option>
                            </select>
                            <span asp-validation-for="ActivityNameID" class="text-danger"></span>
                        </div>
                        <!-- Add form fields for FlagImagePath -->
                        <div style="margin-top:10px" class="form-group">
                            <label asp-for="ImagePath">UPLOAD</label>
                            <input type="file" id="ImagePath" name="ImagePath" accept="image/*" class="form-control-file" />
                            <span asp-validation-for="ImagePath" class="text-danger"></span>
                        </div>

                    </div>
                    </div>
                    <div class="row">
                        <div style="margin:5px" class="col-12 text-center">
                            <button type="submit" class="btn btn-success">Submit </button>
                        </div>
                    </div>
            </form>
        </div>
    </div>
</div>



@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script>
        $(document).ready(function () {

            $('#createForm').submit(function (e) {
                e.preventDefault();

                var form = $(this);
                var formData = new FormData(form[0]); // Create FormData object

                // Append file data manually
                var fileInput = document.getElementById('ImagePath');
                formData.append('ImagePath', fileInput.files[0]);

                $.ajax({
                    url: form.attr('action'),
                    type: 'POST',
                    data: formData, // Use FormData object
                    contentType: false, // Don't set content type
                    processData: false, // Don't process data
                    success: function () {
                        Swal.fire(
                            'Success!',
                            'Your activity has been added.',
                            'success'
                        ).then(() => {
                            window.location.href = '@Url.Action("Index", "ShipActivity")';
                        });
                    },
                    error: function (xhr, status, error) {
                        console.error('Error:', error); // Log any errors that occur during the AJAX call
                    }
                });
            });

            // $('#FlagStateID').change(function () {
            //     var Id = $(this).val();

            //     console.log("Selected flagStateId:", Id); // Log the selected flag state ID

            //     if (Id) {
            //         var url = '/FlagState/GetFlagImage/' + Id; // Construct the URL
            //         console.log("AJAX URL:", url); // Log the URL before making the AJAX call

            //         $.ajax({
            //             url: url, // Use the constructed URL
            //             type: 'GET',
            //             success: function (response) {
            //                 // Convert absolute file path to relative URL
            //                 var relativeUrl = response.imageUrl.replace("C:\\Users\\RNO\\Desktop\\Pattern of life\\Pattern of life\\wwwroot", "");

            //                 // Set the relative URL as the src attribute of the image
            //                 $('#flagImage').attr('src', relativeUrl);
            //             },
            //             error: function (xhr, status, error) {
            //                 console.error('Error:', error); // Log any errors that occur during the AJAX call
            //             }
            //         });
            //     }
            //     else {
            //         $('#flagImage').attr('src', ''); // Clear the flag image src if no flag state is selected
            //     }
            // });

        });

    </script>
    <script>
        function updateLatitudeDMS(element) {
            var latitudeDMS = document.getElementById("LatitudeDMS");
            latitudeDMS.value = updateDMS(parseFloat(element.value), 'Latitude');
        }

        function updateLongitudeDMS(element) {
            var longitudeDMS = document.getElementById("LongitudeDMS");
            longitudeDMS.value = updateDMS(parseFloat(element.value), 'Longitude');
        }

        function updateLatitude(element) {
            var latitude = document.getElementById("Latitude");
            latitude.value = updateDecimal(element.value, 'Latitude');
        }

        function updateLongitude(element) {
            var longitude = document.getElementById("Longitude");
            longitude.value = updateDecimal(element.value, 'Longitude');
        }

        function updateDecimal(value, fieldName) {
            // Parse DMS format and extract degrees, minutes, and seconds
            var parts = value.split(/[^\d\w]+/);
            var degrees = parseInt(parts[0]);
            var minutes = parseInt(parts[1]);
            var seconds = parseFloat(parts[2]);

            // Calculate decimal value from DMS
            var decimal = degrees + (minutes / 60) + (seconds / 3600);

            // Determine direction based on hemisphere
            if (fieldName === 'Latitude' && value.includes('S')) {
                decimal *= -1;
            } else if (fieldName === 'Longitude' && value.includes('W')) {
                decimal *= -1;
            }

            return decimal;
        }

        function updateDMS(value, fieldName) {
            var degrees = Math.floor(Math.abs(value));
            var minutes = Math.floor((Math.abs(value) - degrees) * 60);
            var seconds = ((Math.abs(value) - degrees - (minutes / 60)) * 3600).toFixed(2);
            var direction = value >= 0 ? (fieldName === 'Latitude' ? 'N' : 'E') : (fieldName === 'Latitude' ? 'S' : 'W');
            return degrees + "° " + minutes + "' " + seconds + "\" " + direction;
        }
    </script>

}
